:root {
    --color-background-blue: #F4F5FF;
    --color-border-gray: #B2B0C0;
    --color-warning: #FE9539;
    --color-error: #f44336;
    --color-success: #4caf50;
}

.swiper {
    --swiper-theme-color: var(--color-warning);
}